MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=Givenchi
MYSQL_PASSWORD=Fauziya@123
MYSQL_DATABASE=foodly_auth
MONGO_URI=mongodb+srv://givenchi:Givenchi1@cluster0.2pf490a.mongodb.net/?retryWrites=true&w=majority&appName=GivenchiCodes
MONGO_DB_NAME=foodly_orders
# Optional override for SQLAlchemy connection string:
# DATABASE_URL=mysql+pymysql://Givenchi:Fauziya%40123@127.0.0.1:3306/foodly_auth
JWT_SECRET_KEY=change-this-secret
STRIPE_SECRET_KEY=
FOODLY_ADMIN_EMAIL=givens.abraham@gmail.com
FOODLY_ADMIN_PASSWORD=Admin@12345
FOODLY_ADMIN_NAME=Givforks
FOODLY_ADMIN_PHONE=+96567778899
